.LecturerCoursesDetails {}

.header {
    background-image: url('../../../../../assets/wallpaperflare.com_wallpaper (8).jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}