@import "tailwindcss";

body {
    background-color: #eeede9 !important;
}

.css-dvndpk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #4b5e4b !important;
    font-weight: 600 !important;
}

.css-1clkga0-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #4b5e4b !important;
    font-weight: 600 !important;
}

.my-container {
    width: 60%;
    margin: 0 auto;
}